<% include ./partials/header %> 

<div class="container">
    <div id="landing-header">
        <h1>Free2BGeek</h1>
    
        <h3>This is your joke for the day!</h3>
        
        <hr>
        
        <h5><em>Warning: A lot of these are about Chuck Norris...</em></h5>
        
        <hr>
        
        <p id="jokes">
            <p><%= body %></p>
        </p>
    </div>
    
    <ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<% include ./partials/footer %> 